<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <title>{% block title %}Web strater kit{% endblock %}</title>
    <meta name="description" content="{% block description %}Web starter kit{% endblock %}" />
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="{{ asset('build/css/style.css') }}" />
    <link rel="icon" type="image/png" href="{{  asset('build/images/favicon.png') }}" />
    {% block stylesheets %}{% endblock %}
</head>

<body>
<header>
    <div class="wrap">
        <h1><img src="{{ asset('build/images/logo.png') }}" alt="{{ client_name }}" /></h1>
        <nav class="main-nav">
            <a class="toggle-nav" href="javascript:void(0);">
                <span></span>
            </a>
            <ul class="menu">
                <li>
                    <a href="#"></a>
                    <ul class="submenu">
                        <li>
                            <a href="#"></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"></a>
                </li>
            </ul>
        </nav> <!-- .main-nav -->
    </div>
</header>

{% block body %}{% endblock %}

<footer>
    <div class="colophon wrap">
        <p>
            &copy; {{ 'now'|date('Y') }} - <a href="/">{{ client_name }}</a> - <a href="/mentions-legales.html">Mentions légales</a>
        </p>
    </div>
</footer>

<script src="{{  asset('build/js/app.js') }}"></script>

{% block javascripts %}{% endblock %}
</body>
</html>
